<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Редактировать / создать клиента</title>
</head>
<body>
    <div class="container">
        <h1>Клиент</h1>
        <h1 th:text="${client.name}"></h1>
        <div class="col-sm-12">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>PHONE</th>
                    <th>заказы</th>
                </tr>
                </thead>
                <tbody th:each="contact : ${contacts}">
                <tr>
                    <td th:text="${contact.id}"></td>
                    <td th:text="${contact.name}"></td>
                    <td th:text="${contact.phone}"></td>
                    <td th:text="${contact.orders}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>