<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>Список клиентов</title>
</head>
<body>
    <div class="container">
        <h1>test</h1>
        <div class="col-sm-10">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>ID объявы</th>
                    </tr>
                </thead>
                <tbody th:each="client : ${clients}">
                    <tr>
                        <td th:text="${client.id}"></td>
                        <td th:text="${client.name}"></td>
                        <td th:text="${client.advertisementId}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</body>
</html>