<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" th:href="@{css/main-page.css}" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <title>CRM</title>
</head>
<body>
    <div class="bg">
        <form class="login" action="#" th:action="@{/}" method="post">
            <label for="login">Логин</label>
            <input type="text" id="login" name="login" autofocus="autofocus"/>
            <label for="password">Пароль</label>
            <input type="password" id="password" name="password" />
            <input type="submit" value="Войти" />
        </form>
    </div>
</body>
</html>